html {
  font-family: 'Numans', sans-serif;
}

body {
  background-image: url('../images/home_page.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}